
 /*-------------------------------------------------------------\
|----------------DELETING THINGS THAT I DONT LIKE----------------|
 \-------------------------------------------------------------*/

a.icon-watch, a.icon-watch-pv{
  display: none;
}
.list-table .list-table-data .tags .edit {
  display:none;
}
td.data.rated{
  display:none!important;
}
td.data.season{
  display:none!important;
}
td.data.studio{
  display:none!important;
}
td.data.type{
  display:none!important;
}
td.data.number{
  display:none!important;
}
td.data.days{
  display:none!important;
}

.data.tags span{
  
  font-size:0;
  line-height:0.1vw;
}

 /*-------------------------------------------------------------\
|----------------EDIT AND ADD MORE BUTTONS       ----------------|
 \-------------------------------------------------------------*/


.list-table .list-table-data .data.title .add-edit-more {
    float: right;
    margin-right: 10px;
    font-size: 0.9em;
    display: block;
}

/*end*/


 /*-------------------------------------------------------------\
|---------------Creates the grid and general format--------------|
 \-------------------------------------------------------------*/



/*turns the list into a grid*/
tr.list-table-data{
display: grid;
grid-template-columns: .7vw 1.4vw .7vw 1.4vw 1.4vw 1.4vw 1.4vw 1.4vw 1.4vw 1.4vw 14vw 7vw 6vw auto !important;
width:40vw;
background-color:white;
min-height:12em;
}




/*Ones in the list*/




td.data.title.clearfix {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 14;
    text-align: center !important;
}

.list-table .list-table-data .data.status.reading, .list-table .list-table-data .data.status {
    background-color: #2db039;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

td.data.score{
  
  height: 4.35vw;
font-size: 0;
grid-column: 2;
grid-row: 2;
background: var(--behindscore-color);
width: 1.8vw;
}



td.data.image{
  grid-column:11!important;
}

td.data.tags{
  
  
	padding: 3px 0 !important;
	margin-right: 8px;
	flex-shrink: 1;
        grid-column:12;
        grid-row:2;
  
}



/*ones not in the grid temporarily*/


td.data.progress{
  visibility: hidden;
  grid-column:13!important;

  
}

 /*----------------------------------------___         _----------\
|---Creates the grid and general format   |___  |\ |  | \----------|
 \----------------------------------------|___  | \|  | /--------*/






 /*-------------------------------------------------------------\
|---------------General format for the header      --------------|
 \-------------------------------------------------------------*/



/* Deleting things*/
.header-title.number {
    display: none !important;
}
.header-title.image {
    display: none !important;
}
.list-table .list-table-header .header-title.type {
  
    display:none;
}
.list-table .list-table-header .header-title.progress {
    display: none;
}
.list-table .list-table-header .header-title.rated {
    display: none;
}
.list-table .list-table-header .header-title.days {
    display: none;
}
.list-table .list-table-header .header-title.started {
    display: none;
}.list-table .list-table-header .header-title.studio {
    display: none;
}
.list-table .list-table-header .header-title.status {
    display: none;
}



/*sets the base grid*/

.list-table-header {
    display: grid;
    grid-template-columns: 14.75vw 10vw 15.25vw;
    position: fixed;
    top: 0;
    z-index: 10;
}




/*score and tags setup*/
.list-table .list-table-header .header-title.score {
    
    grid-column: 1;
    grid-row: 1;
    padding-right: 9vw;
    padding-left: 3.5vw;
    width: 2.5vw;
}

.list-table .list-table-header .header-title.tags {
    grid-column: 3;
    grid-row: 1;
    padding-left: 2.3vw;
    padding-right: 8.25vw;
    width: 4.7vw;
}


/*Renames title*/
.list-table .list-table-header .header-title.title {
    padding-left: 2.6vw;
    grid-column: 2;
    grid-row: 1;
    width: 4vw;
    padding-right: 3.5vw;
}
.header-title.title a { 
  font-size: 0 !important;
}  
.header-title.title a:after {
	content: "Sort By Alphabetic";
	font-size: .5vw;
}


/* end */



 /*-------------------------------------------------------------\
|---------------HOVER EFFECTS                      --------------|
 \-------------------------------------------------------------*/



td.data.score:hover{
  
  scale:1.2;
  background-color: gray !important;
  z-index:8;
}


 .list-table .list-table-data .tags span a:hover{
  background-color: gray !important;
  scale:1.2;
  z-index:8;
}



/*TAG DESCRIPTIONS */
.data.tags span a::after{
	  position: absolute;
          z-index: 12;

display: none;
background-color: black;
content: "well this is a test";
min-width: 5em;
max-width: 20em;
padding-block: 2em;
padding-inline: 2em;
border-color: gray;
border-style: solid;
border-radius: 20%;
	}
	
	.data.tags span a:hover::after{
	  
	  font-size:12px;
	  display:block;
	  
	}

 /*----------------------------------------___         _----------\
|---HOVER EFFECTS ---------------------   |___  |\ |  | \----------|
 \----------------------------------------|___  | \|  | /--------*/




 /*-------------------------------------------------------------\
|---------------BACKGROUND AND GENERAL LAYOUT      --------------|
 \-------------------------------------------------------------*/
body.ownlist.anime {
    margin: 0 0 0 0;
    text-align: center;
    font-family: Verdana, Arial;
    font-size: 11px;
    background-color: rgb(86, 77, 115);
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
    background-image: url(https://i.redd.it/gc3ooojju8i11.png);
}
div#list-container.list-container{
background-color:unset;
  
}




/*
.td1.borderRBL {
    background-color: white;
}
*/


.header{
  width:40vw;
}
.cover-block .image-container img {
    max-width: 40vw;
}
.list-container{
  
  max-width: 40vw;
  
}
.list-unit .list-status-title {

  
    width: 40vw;
    height:1vw;
}
.status-menu-container {
    width: 40vw;
  
}
.list-table{
  width:40vw;
  
}
.cover-block{
  width:40vw;
}
.list-unit{
  width:40vw;
}
.list-table-header{
  width:40vw;
}
body.ownlist.anime {
    
    font-size: .5vw;
}






 /*-------------------------------------------------------------\
|---------------TAGS GENERAL EDITS                 --------------|
 \-------------------------------------------------------------*/
.data.tags a{
  
  display: block;
visibility: visible;
font-size: .5vw;
line-height: 0.4vw !important;
width: 6vw;
padding-block: 0.1vw;
background-color: gray;
border-radius: 0.4vw;
padding-left: 0.2vw;
padding-right: 0.2vw;
}
/*centering the text vertically*/
.list-table .list-table-data .data.tags {
word-wrap: break-word;
position: relative;
top: -7em;
display: block;
height: 10em;
}

 /*----------------------------------------___         _----------\
|---TAGS GENERAL  ---------------------   |___  |\ |  | \----------|
 \----------------------------------------|___  | \|  | /--------*/



 /*------------------------------------------------------------\
|---------------INDIVIDUAL TAGS GENRES ARRANGMENT  -------------|
 \------------------------------------------------------------*/



/*MOVE THE GENRES OVER*/
.list-table .list-table-data .data.tags a[href*="=slice-of-life"],.list-table .list-table-data .data.tags a[href*="=cgdct"],.list-table .list-table-data .data.tags a[href*="=drama"],.list-table .list-table-data .data.tags a[href*="=nota"],.list-table .list-table-data .data.tags a[href*="=romance"],.list-table .list-table-data .data.tags a[href*="=action"],.list-table .list-table-data .data.tags a[href*="=shoujo"],.list-table .list-table-data .data.tags a[href*="=shounen"],.list-table .list-table-data .data.tags a[href*="=romcom"],.list-table .list-table-data .data.tags a[href*="=mystery"]{
color: red;
left: 6.5vw;
position: relative;
width: 6vw;
top: 3.5vw;
}

.list-table .list-table-data .data.tags a[href*="=nota"]{

	visibility:hidden;
	
}






 /*------------------------------------------------------------\
|---------------INDIVIDUAL TAGS SCORES ARRANGMENT  -------------|
 \------------------------------------------------------------*/



/*SCORES FROM TAGS FOR ANY SCORE*/
.list-table .list-table-data .data.tags a[href*="=story"],.list-table .list-table-data .data.tags a[href*="=ending"],.list-table .list-table-data .data.tags a[href*="=characters"],.list-table .list-table-data .data.tags a[href*="=music"],.list-table .list-table-data .data.tags a[href*="=animation"],.list-table .list-table-data .data.tags a[href*="=directing"]{
    
    position: absolute;
    font-size: 0!important;
    line-height: 0;
    
   top: 3.5vw;
   border-radius: 0;
   height: 4.1vw;
   background-color: var(--behindscore-color);
   width: var(--background-width-score);
   padding-left: var(--padding-left-score);
   padding-right: var(--padding-right-score);
	
   border-width: var(--sizeof-score-border);
   border-style: solid;
   border-color:transparent;
}

.list-table .list-table-data .data.tags a[href*="=story"]::before,.list-table .list-table-data .data.tags a[href*="=ending"]::before,.list-table .list-table-data .data.tags a[href*="=characters"]::before,.list-table .list-table-data .data.tags a[href*="=music"]::before,.list-table .list-table-data .data.tags a[href*="=animation"]::before,.list-table .list-table-data .data.tags a[href*="=directing"]::before{
  
  
 left:-0.2vw;
  
}

.list-table .list-table-data .data.tags a[href*="=ending"]::before::hover,.list-table .list-table-data .data.tags a[href*="=characters"]::before::hover,.list-table .list-table-data .data.tags a[href*="=music"]::before::hover,.list-table .list-table-data .data.tags a[href*="=animation"]::before::hover,.list-table .list-table-data .data.tags a[href*="=directing"]::before::hover{
  
  
 
  
}

.list-table .list-table-data .data.tags a[href*="=story"]{
left: -24.3vw;

}
.list-table .list-table-data .data.tags a[href*="=ending"]{
 
    left: -23.1vw;
 
}
.list-table .list-table-data .data.tags a[href*="=characters"]{
 
    left: -21.9vw;

}
.list-table .list-table-data .data.tags a[href*="=music"]{
 
    left: -20.7vw;

}
.list-table .list-table-data .data.tags a[href*="=animation"]{
 
    left: -19.5vw;

}
.list-table .list-table-data .data.tags a[href*="=directing"]{
 
    left: -18.3vw;
    
}


/*FOR INDIVIDUAL SCORES*/
.list-table .list-table-data .data.tags a[href*="=story0"],.list-table .list-table-data .data.tags a[href*="=ending0"],.list-table .list-table-data .data.tags a[href*="=characters0"],.list-table .list-table-data .data.tags a[href*="=music0"],.list-table .list-table-data .data.tags a[href*="=animation0"],.list-table .list-table-data .data.tags a[href*="=directing0"]{
 
border-color: var(--score-ten-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story9"],.list-table .list-table-data .data.tags a[href*="=ending9"],.list-table .list-table-data .data.tags a[href*="=characters9"],.list-table .list-table-data .data.tags a[href*="=music9"],.list-table .list-table-data .data.tags a[href*="=animation9"],.list-table .list-table-data .data.tags a[href*="=directing9"]{
  

border-color: var(--score-nine-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story8"],.list-table .list-table-data .data.tags a[href*="=ending8"],.list-table .list-table-data .data.tags a[href*="=characters8"],.list-table .list-table-data .data.tags a[href*="=music8"],.list-table .list-table-data .data.tags a[href*="=animation8"],.list-table .list-table-data .data.tags a[href*="=directing8"]{
  
 
  border-color: var(--score-eight-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story7"],.list-table .list-table-data .data.tags a[href*="=ending7"],.list-table .list-table-data .data.tags a[href*="=characters7"],.list-table .list-table-data .data.tags a[href*="=music7"],.list-table .list-table-data .data.tags a[href*="=animation7"],.list-table .list-table-data .data.tags a[href*="=directing7"]{
  

border-color: var(--score-seven-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story6"],.list-table .list-table-data .data.tags a[href*="=ending6"],.list-table .list-table-data .data.tags a[href*="=characters6"],.list-table .list-table-data .data.tags a[href*="=music6"],.list-table .list-table-data .data.tags a[href*="=animation6"],.list-table .list-table-data .data.tags a[href*="=directing6"]{
  

border-color: var(--score-six-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story5"],.list-table .list-table-data .data.tags a[href*="=ending5"],.list-table .list-table-data .data.tags a[href*="=characters5"],.list-table .list-table-data .data.tags a[href*="=music5"],.list-table .list-table-data .data.tags a[href*="=animation5"],.list-table .list-table-data .data.tags a[href*="=directing5"]{
  

border-color: var(--score-five-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story4"],.list-table .list-table-data .data.tags a[href*="=ending4"],.list-table .list-table-data .data.tags a[href*="=characters4"],.list-table .list-table-data .data.tags a[href*="=music4"],.list-table .list-table-data .data.tags a[href*="=animation4"],.list-table .list-table-data .data.tags a[href*="=directing4"]{
  
border-color: var(--score-four-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story3"],.list-table .list-table-data .data.tags a[href*="=ending3"],.list-table .list-table-data .data.tags a[href*="=characters3"],.list-table .list-table-data .data.tags a[href*="=music3"],.list-table .list-table-data .data.tags a[href*="=animation3"],.list-table .list-table-data .data.tags a[href*="=directing3"]{
  
border-color: var(--score-three-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story2"],.list-table .list-table-data .data.tags a[href*="=ending2"],.list-table .list-table-data .data.tags a[href*="=characters2"],.list-table .list-table-data .data.tags a[href*="=music2"],.list-table .list-table-data .data.tags a[href*="=animation2"],.list-table .list-table-data .data.tags a[href*="=directing2"]{
  

border-color: var(--score-two-color);
  
}
.list-table .list-table-data .data.tags a[href*="=story1"],.list-table .list-table-data .data.tags a[href*="=ending1"],.list-table .list-table-data .data.tags a[href*="=characters1"],.list-table .list-table-data .data.tags a[href*="=music1"],.list-table .list-table-data .data.tags a[href*="=animation1"],.list-table .list-table-data .data.tags a[href*="=directing1"]{
  
border-color: var(--score-one-color);
  
}

.list-table .list-table-data .data.tags a[href*="=story0"]:before,.list-table .list-table-data .data.tags a[href*="=ending0"]:before,.list-table .list-table-data .data.tags a[href*="=characters0"]:before,.list-table .list-table-data .data.tags a[href*="=music0"]:before,.list-table .list-table-data .data.tags a[href*="=animation0"]:before,.list-table .list-table-data .data.tags a[href*="=directing0"]:before{
    
    content: "\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
    letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-ten-color);
   
}

.list-table .list-table-data .data.tags a[href*="=story9"]:before,.list-table .list-table-data .data.tags a[href*="=ending9"]:before,.list-table .list-table-data .data.tags a[href*="=characters9"]:before,.list-table .list-table-data .data.tags a[href*="=music9"]:before,.list-table .list-table-data .data.tags a[href*="=animation9"]:before,.list-table .list-table-data .data.tags a[href*="=directing9"]:before{
    
    content: "\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
 letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-nine-color);
    
   
}

.list-table .list-table-data .data.tags a[href*="=story8"]:before,.list-table .list-table-data .data.tags a[href*="=ending8"]:before,.list-table .list-table-data .data.tags a[href*="=characters8"]:before,.list-table .list-table-data .data.tags a[href*="=music8"]:before,.list-table .list-table-data .data.tags a[href*="=animation8"]:before,.list-table .list-table-data .data.tags a[href*="=directing8"]:before{
    
    content: "\a\a\25FC \a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-eight-color);
    
   
}

.list-table .list-table-data .data.tags a[href*="=story7"]:before,.list-table .list-table-data .data.tags a[href*="=ending7"]:before,.list-table .list-table-data .data.tags a[href*="=characters7"]:before,.list-table .list-table-data .data.tags a[href*="=music7"]:before,.list-table .list-table-data .data.tags a[href*="=animation7"]:before,.list-table .list-table-data .data.tags a[href*="=directing7"]:before{
    
    content: "\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-seven-color);
    
   
}

.list-table .list-table-data .data.tags a[href*="=story6"]:before,.list-table .list-table-data .data.tags a[href*="=ending6"]:before,.list-table .list-table-data .data.tags a[href*="=characters6"]:before,.list-table .list-table-data .data.tags a[href*="=music6"]:before,.list-table .list-table-data .data.tags a[href*="=animation6"]:before,.list-table .list-table-data .data.tags a[href*="=directing6"]:before{
    
    content: " \a\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-six-color);
   
}

.list-table .list-table-data .data.tags a[href*="=story5"]:before,.list-table .list-table-data .data.tags a[href*="=ending5"]:before,.list-table .list-table-data .data.tags a[href*="=characters5"]:before,.list-table .list-table-data .data.tags a[href*="=music5"]:before,.list-table .list-table-data .data.tags a[href*="=animation5"]:before,.list-table .list-table-data .data.tags a[href*="=directing5"]:before{
    
    content: " \a\a\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
    letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-five-color);
    
}

.list-table .list-table-data .data.tags a[href*="=story4"]:before,.list-table .list-table-data .data.tags a[href*="=ending4"]:before,.list-table .list-table-data .data.tags a[href*="=characters4"]:before,.list-table .list-table-data .data.tags a[href*="=music4"]:before,.list-table .list-table-data .data.tags a[href*="=animation4"]:before,.list-table .list-table-data .data.tags a[href*="=directing4"]:before{
    
    content: "\a\a\a\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
     letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-four-color);
   
}

.list-table .list-table-data .data.tags a[href*="=story3"]:before,.list-table .list-table-data .data.tags a[href*="=ending3"]:before,.list-table .list-table-data .data.tags a[href*="=characters3"]:before,.list-table .list-table-data .data.tags a[href*="=music3"]:before,.list-table .list-table-data .data.tags a[href*="=animation3"]:before,.list-table .list-table-data .data.tags a[href*="=directing3"]:before{
    
    content: "\a\a\a\a\a\a\a\25FC\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
    letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-three-color);
   
}

.list-table .list-table-data .data.tags a[href*="=story2"]:before,.list-table .list-table-data .data.tags a[href*="=ending2"]:before,.list-table .list-table-data .data.tags a[href*="=characters2"]:before,.list-table .list-table-data .data.tags a[href*="=music2"]:before,.list-table .list-table-data .data.tags a[href*="=animation2"]:before,.list-table .list-table-data .data.tags a[href*="=directing2"]:before{
    
    content: "\a\a\a\a\a\a\a\a\25FC\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
    letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-two-color);
   
}

.list-table .list-table-data .data.tags a[href*="=story1"]:before,.list-table .list-table-data .data.tags a[href*="=ending1"]:before,.list-table .list-table-data .data.tags a[href*="=characters1"]:before,.list-table .list-table-data .data.tags a[href*="=music1"]:before,.list-table .list-table-data .data.tags a[href*="=animation1"]:before,.list-table .list-table-data .data.tags a[href*="=directing1"]:before{
    
    content: "\a\a\a\a\a\a\a\a\a\25FC\a";
   white-space: pre !important;
    position: relative;
    visibility:visible !important;
    letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
    color: var(--score-one-color);
   
}

/* END*/


/* THIS SECTION IS FOR THE PROGRESS BAR OF THE SCORE*/


.score-10::before{
  
   color: #edc732;
   content: "\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
  letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
]
.score-9::before{
  
  color: #ff2109;
  content: "\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-8::before{
  
  color: #e575aa;
  content: "\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-7::before{
  
  color: #a359b8;
  content: "\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
  letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-6::before{
  
   color: #7550c5;
   content: "\a\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-5::before{
  
  color: #354eb0;
  content: "\a\a\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a\25FC\a\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}.score-4::before{
  
   color: #2f81a1;
   content: "\a\a\a\a\a\a\25FC\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-3::before{
  
  color: #358581;
  content: "\a\a\a\a\a\a\a\25FC\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-2::before{
  
    color: #315043;
   content: "\a\a\a\a\a\a\a\a\25FC\a\25FC\a";
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
  letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
.score-1::before{
  
    color: #262a26;
   content: "\a\a\a\a\a\a\a\a\a\25FC\a";
  
  left: -3px;
  top: -4px;
  position: relative;
  visibility: visible !important;
   letter-spacing: var(--spacingof-score);
    white-space: pre !important;
    font-size: var(--sizeof-score) !important;
    line-height: var(--heightof-score);
}
/*end*/

/*IMAGE CHANGE?*/
.data.image a {
	position: relative;
display: block !important;
border-radius: 50%;
overflow: hidden;
background-color: black;
width: 3vw;
height: 3vw;
left: 5.5vw;
top: 1vw;
scale: 1.3;
	border-color: black;
border-style: solid;
}


.list-table .list-table-data .data.image .image {
    width: 3vw;
    height: 3.5vw;
}
	/*end*/
	
	
	/*TAG DESCRIPTIONS*/
	
	
	
	
	
